@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$red-palette,
        secondary: mat.$red-palette,
        tertiary: mat.$red-palette,
      ),
      typography: Roboto,
      density: -2,
    )
  );

  --mat-sys-primary: var(--ci-red);
  --mat-sys-on-primary: var(--surface-primary);
  --mat-sys-secondary: var(--ci-dark-blue);
  --mat-sys-on-secondary: var(--surface-primary);
}
